.modularity {
  --modularity-color-accent: #2271b1;
  width: 800px;
  max-width: 100%;
}

.modularity code {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0;
  background: white;
  font-size: 12px;
}

.modularity code.is-lowlighted {
  opacity: 0.41;
}

.modularity code a {
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  padding: 0.45em 0.8em 0.4em;
  display: inline-block;
  transition: all 100ms ease;
}

.modularity code a:hover {
  background: var(--modularity-color-accent);
  color: #fff;
}

.modularity code a.module-free:not(:hover),
.modularity code a.module-pro:not(:hover) {
  color: var(--modularity-color-accent);
}

.modularity code a:hover + .tooltip,
.modularity code a + .tooltip:hover {
  display: block !important;
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 32px;
  bottom: 0;
  width: calc(100vw - 1050px);
  white-space: pre-line;
  background: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 5px #ddd;
}

.modularity code .update-hint {
  background: var(--modularity-color-accent);
  color: white;
  display: inline-flex;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 1px;
}

.modularity code a:hover .update-hint {
  color: var(--modularity-color-accent);
  background: white;
}

.modularity form {
  display: inline-block;
}

.modularity .submit,
.modularity [type="submit"] {
  background: white;
  border: none;
  padding: 3px 7px 2px 7px;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  margin-right: 0.3rem;
}

.modularity .submit:hover {
  color: green;
}

.modularity [type="submit"]:hover {
  color: #d63638;
}

.modularity [type="submit"][value*="✓"]:hover {
  color: green;
}

.modularity .dashicons.is-active::before {
  color: var(--modularity-color-accent);
}

.modularity .dashicons.is-inactive::before {
  color: #d63638;
}
