.modularity {
  --modularity-color-accent: #2271b1;
  max-width: 100%;
  /*width: 800px;*/
}

.modularity code {
  display: block;
  margin: 0 10px 10px 0;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  background: white;
  font-size: 12px;
  border: 1px solid white;
  transition: all 100ms ease;
}

.modularity code:hover {
  border-color: var(--modularity-color-accent);
}

.modularity code.is-lowlighted {
  opacity: 0.51;
}

.modularity code a.module {
  color: inherit;
  text-decoration: none;
  padding: 0.45em 0.6em 0.47em 0.8em;
  display: inline-block;
  transition: all 100ms ease;
  font-weight: bold;
}

.modularity code a.module:hover {
  background: var(--modularity-color-accent);
  color: #fff;
}

.modularity code a.module-free:not(:hover),
.modularity code a.module-pro:not(:hover) {
  color: var(--modularity-color-accent);
}

.modularity code:hover > a + .tooltip,
.modularity code a.module + .tooltip:hover {
  display: block !important;
  overflow-y: scroll;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 32px;
  bottom: 0;
  max-width: 50vw;
  width: 600px;
  white-space: pre-line;
  background: white;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 5px #ddd;
}

.modularity code a[href="#update"] {
  font-weight: normal;
  padding: 0.45em 0.8em 0.4em 0.6em;
  display: inline-block;
  text-decoration: none;
  margin-left: -6px;
}

.modularity code a[href="#update"]:hover {
  background: var(--modularity-color-accent);
  color: white;
}

.modularity code a.is-deleting[href="#update"] {
  opacity: 0.61;
  cursor: wait;
}

.modularity code a[href="#update"]:hover:after {
  content: "→";
  font-size: 1.2em;
  line-height: 0.8;
}

.modularity code a[href="#update"][data-module-version="master"]:hover:after {
  content: "↻";
}

.modularity code .newversion {
  text-decoration: none;
  background: var(--modularity-color-accent);
  color: white;
  display: inline-flex;
  padding: 0 5px;
  border-radius: 5px;
  margin-left: 1px;
}

.modularity code a[href="#update"]:hover .newversion {
  color: var(--modularity-color-accent);
  background: white;
}

.modularity form {
  display: inline-block;
}

.modularity .submit,
.modularity [type="submit"] {
  background: white;
  border: none;
  padding: 3px 7px 2px 7px;
  border-radius: 4px;
  color: #555;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  margin-right: 0.3rem;
}

.modularity .submit:hover {
  color: green;
}

.modularity [type="submit"]:hover {
  color: #d63638;
}

.modularity [type="submit"][value*="✓"]:hover {
  color: green;
}

.modularity .dashicons.is-active::before {
  color: var(--modularity-color-accent);
}

.modularity .dashicons.is-inactive::before {
  color: #d63638;
}
